<article class="content_article" id="article_profile">
	<div>
		<label for="profile_name">Name: </label>
		<input type="text" name="profile_name" id="profile_name" disabled>
	</div>
	<div>
		<label for="profile_firstname">Firstname: </label>
		<input type="text" name="profile_firstname" id="profile_firstname" disabled>
	</div>
	<div>
		<label for="profile_email">Email: </label>
		<input type="email" name="profile_email" id="profile_email">
	</div>
	<input type="submit" name="profile_submit" id="profile_submit" value="Save">
</article>